.ion-item{
  align-items: center;
  font-size: 100px;
}
.container{
  padding: 0px;
  margin-bottom: auto;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.back {
  margin-left: 10px;
  padding: 0%;
  
}
.set{
  align-content: center;
  margin-left: auto;
  padding: 10px;
}
